body{
    background-color:light-gray;
}

h1{
    font-family:"Arial", Helvetica, sans-serif;
}

p{
    font-family:"Arial", Helvetica, sans-serif;
}

ul{
    font-family:"Arial", Helvetica, sans-serif;
}